<h1><%= @task.title %></h1>

<%= @task.details %>

<%= link_to "Edit task", task_edit_path %>

<%= link_to "Delete",
            task_delete_path(@task),
            method: :delete,
            data: { confirm: "Are you sure?" } %>

<%= link_to "List of tasks", tasks_path %>
